.navContainer {
  position: relative;
}

.navMenu {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  border-radius: 20px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 80px;
  background: #fff;

  & > button {
    border-radius: 20px;
    width: 65px;
    height: 65px;
    background: #3c3c3c;
  }
}
