@font-face {
    font-family: "Inter";
    src: url(./Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: "Nunito";
    src: url(./Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Rubik";
    src: url(./Rubik-VariableFont_wght.ttf);
}